@page "/registrate"
<h3>Registration</h3>
@if (ShowRegistrationError)
{
    <div class="alert alert-danger" role="alert">
        <p>@Error</p>
    </div>
}
<EditForm Model="userForRegistration" OnValidSubmit="ExecuteRegister" class="card card-body bg-light mt-5">
    <DataAnnotationsValidator />
    <div class="form-group row">
        <label for="email" class="col-md-2 col-form-label">Email:</label>
        <div class="col-md-10">
            <InputText id="email" class="form-control" @bind-Value="userForRegistration.Email" />
            <ValidationMessage For="@(() => userForRegistration.Email)" />
        </div>
    </div>
    <div class="form-group row">
        <label for="password" class="col-md-2 col-form-label">Password:</label>
        <div class="col-md-10">
            <InputText type="password" id="password" class="form-control" @bind-Value="userForRegistration.Password" />
            <ValidationMessage For="@(() => userForRegistration.Password)" />
        </div>
    </div>
    <div class="form-group row">
        <label for="passwordConfirm" class="col-md-2 col-form-label">Confirm password:</label>
        <div class="col-md-10">
            <InputText type="password" id="passwordConfirm" class="form-control" @bind-Value="userForRegistration.PasswordConfirm" />
            <ValidationMessage For="@(() => userForRegistration.PasswordConfirm)" />
        </div>
    </div>
    <div class="row">
       
        <div class="col-md-12 text-right">
            <a class="mr-4" href="/login">Login page</a>
            <button type="submit" class="btn btn-success">Registrate</button>
        </div>
    </div>
</EditForm>