@inject IJSRuntime JSRuntime;
<div class="grid-item">
    <button oncontextmenu="return false;" class="btn-block" @onclick="@OnButtonClicked" @onmouseup="HandleMouseUp">
        <img src="/images/@(Value).png" class="cell-image"/>
    </button>
</div>
@code {
    [Parameter]
    public string Value { get; set; }

    [Parameter]
    public int RowIndex { get; set; }

    [Parameter]
    public int ColumnIndex { get; set; }

    [Parameter]
    public Action<Point> OnCellClicked { get; set; }

    [Parameter]
    public Action<Point> OnCellClickedByRightButton { get; set; }

    private void OnButtonClicked()
    {
        OnCellClicked(new Point(RowIndex, ColumnIndex));
    }
    void HandleMouseUp(MouseEventArgs args)
    {
        if (args.Button == 2)
            OnCellClickedByRightButton(new Point(RowIndex, ColumnIndex));

    }
    public void SetNewValue(string value)
    {
        Value = value;
        StateHasChanged();
    }
}
